.root {
  max-width: var(--maximum-width);
  margin: 50px auto 30px auto;
}
.menu {
  max-width: var(--maximum-width);
  padding: 0 40px;
  margin: 0 auto 16px auto;
  display: flex;
  justify-content: flex-end;
}
.option {
  font-size: 15px;
  width: 150px;
  color: #555;
  border: 1px solid #888;
  border-radius: 5px;
  outline: none;
}
.container {
  max-width: var(--maximum-width);
  margin: 0 auto;
  /* padding: 0 60px; */
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-column-gap: 8px;
  column-gap: 8px;
  grid-row-gap: 28px;
  row-gap: 28px;
}
.container ul {
  padding-top: 10px;
}
.container img {
  margin: 0 auto;
  width: 250px;
  height: 350px;
  width: 100%;
  /* height: 100%; */
}

.name {
  overflow: hidden;
  text-align: center;
  vertical-align: top;
  line-height: 15px;
  font-size: 15px;
  font-weight: 700;
  color: #222;
  text-overflow: ellipsis;
  max-width: 100%;
}
.grade {
  text-align: center;
  padding-top: 3px;
  line-height: 10px;
  white-space: normal;
  font-size: 13px;
  color: #222;
}
.price {
  text-align: center;
  padding-top: 15px;
  vertical-align: top;
  line-height: 17px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: -0.04px;
}

.bottom {
  padding: 28px 0;
  font-size: 15px;
  font-weight: 700;
  padding-left: 10px;
  text-align: center;
  color: #444;
}

.pagenation {
  padding: 28px 0;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  color: #444;
}
.grade {
  text-align: center;
  padding-top: 3px;
  line-height: 10px;
  font-weight: 700;
  white-space: normal;
  font-size: 13px;
  color: #9e7c5f;
}
